In [1]:
import pandas as pd
import numpy as np

In [8]:
btc_pred = pd.read_csv('/Users/brunogama/Desktop/Final_Project/prediction_btc.csv')
eth_pred = pd.read_csv('/Users/brunogama/Desktop/Final_Project/prediction_eth.csv')
ada_pred = pd.read_csv('/Users/brunogama/Desktop/Final_Project/prediction_ada.csv')
dgc_pred = pd.read_csv('/Users/brunogama/Desktop/Final_Project/prediction_dgc.csv')

In [9]:
btc_pred

,Date,Open,High,Low,Close,Adj Close,Volume,Prediction
0,2017-01-01,963.658020,1003.080017,958.698975,998.325012,998.325012,147775008,970.403015
1,2017-01-02,998.617004,1031.390015,996.702026,1021.750000,1021.750000,222184992,989.023010
2,2017-01-03,1021.599976,1044.079956,1021.599976,1043.839966,1043.839966,185168000,1011.799988
3,2017-01-04,1044.400024,1159.420044,1044.400024,1154.729980,1154.729980,344945984,1029.910034
4,2017-01-05,1156.729980,1191.099976,910.416992,1013.380005,1013.380005,510199008,1042.900024
...,...,...,...,...,...,...,...,...
1980,2022-06-04,29706.138672,29930.564453,29500.005859,29832.914062,29832.914062,16588370958,29584.247569
1981,2022-06-05,29835.117188,30117.744141,29574.449219,29906.662109,29906.662109,17264085441,29653.909704
1982,2022-06-06,29910.283203,31693.291016,29894.187500,31370.671875,31370.671875,31947336829,31036.807974
1983,2022-06-07,31371.742188,31489.683594,29311.683594,31155.478516,31155.478516,40770974039,30833.537114
1984,2022-06-08,31151.480469,31253.691406,29944.404297,30214.355469,30214.355469,30242059107,29944.555726

In [16]:
btc = btc_pred.assign(Name= 'BTC')
btc

,Date,Open,High,Low,Close,Adj Close,Volume,Prediction,Name
0,2017-01-01,963.658020,1003.080017,958.698975,998.325012,998.325012,147775008,970.403015,BTC
1,2017-01-02,998.617004,1031.390015,996.702026,1021.750000,1021.750000,222184992,989.023010,BTC
2,2017-01-03,1021.599976,1044.079956,1021.599976,1043.839966,1043.839966,185168000,1011.799988,BTC
3,2017-01-04,1044.400024,1159.420044,1044.400024,1154.729980,1154.729980,344945984,1029.910034,BTC
4,2017-01-05,1156.729980,1191.099976,910.416992,1013.380005,1013.380005,510199008,1042.900024,BTC
...,...,...,...,...,...,...,...,...,...
1980,2022-06-04,29706.138672,29930.564453,29500.005859,29832.914062,29832.914062,16588370958,29584.247569,BTC
1981,2022-06-05,29835.117188,30117.744141,29574.449219,29906.662109,29906.662109,17264085441,29653.909704,BTC
1982,2022-06-06,29910.283203,31693.291016,29894.187500,31370.671875,31370.671875,31947336829,31036.807974,BTC
1983,2022-06-07,31371.742188,31489.683594,29311.683594,31155.478516,31155.478516,40770974039,30833.537114,BTC
1984,2022-06-08,31151.480469,31253.691406,29944.404297,30214.355469,30214.355469,30242059107,29944.555726,BTC

In [10]:
eth_pred

,Date,Open,High,Low,Close,Adj Close,Volume,Prediction
0,2017-11-09,308.644989,329.451996,307.056000,320.884003,320.884003,893249984,473.502014
1,2017-11-10,320.670990,324.717987,294.541992,299.252991,299.252991,885985984,441.721008
2,2017-11-11,298.585999,319.453003,298.191986,314.681000,314.681000,842300992,515.135986
3,2017-11-12,314.690002,319.153015,298.513000,307.907990,307.907990,1613479936,651.431030
4,2017-11-13,307.024994,328.415009,307.024994,316.716003,316.716003,1041889984,702.767029
...,...,...,...,...,...,...,...,...
1668,2022-06-04,1775.220825,1810.299683,1751.533325,1801.609497,1801.609497,8677951273,1783.279789
1669,2022-06-05,1801.818970,1825.859619,1777.133301,1805.204956,1805.204956,8850385937,1786.662397
1670,2022-06-06,1805.635986,1915.030518,1804.990234,1859.289673,1859.289673,16518471852,1837.545301
1671,2022-06-07,1859.333740,1862.914917,1729.413574,1814.048340,1814.048340,24020076750,1794.982253
1672,2022-06-08,1814.100708,1830.676025,1770.231201,1793.572266,1793.572266,18041476023,1775.718362

In [18]:
eth = eth_pred.assign(Name= 'ETH')
eth

,Date,Open,High,Low,Close,Adj Close,Volume,Prediction,Name
0,2017-11-09,308.644989,329.451996,307.056000,320.884003,320.884003,893249984,473.502014,ETH
1,2017-11-10,320.670990,324.717987,294.541992,299.252991,299.252991,885985984,441.721008,ETH
2,2017-11-11,298.585999,319.453003,298.191986,314.681000,314.681000,842300992,515.135986,ETH
3,2017-11-12,314.690002,319.153015,298.513000,307.907990,307.907990,1613479936,651.431030,ETH
4,2017-11-13,307.024994,328.415009,307.024994,316.716003,316.716003,1041889984,702.767029,ETH
...,...,...,...,...,...,...,...,...,...
1668,2022-06-04,1775.220825,1810.299683,1751.533325,1801.609497,1801.609497,8677951273,1783.279789,ETH
1669,2022-06-05,1801.818970,1825.859619,1777.133301,1805.204956,1805.204956,8850385937,1786.662397,ETH
1670,2022-06-06,1805.635986,1915.030518,1804.990234,1859.289673,1859.289673,16518471852,1837.545301,ETH
1671,2022-06-07,1859.333740,1862.914917,1729.413574,1814.048340,1814.048340,24020076750,1794.982253,ETH
1672,2022-06-08,1814.100708,1830.676025,1770.231201,1793.572266,1793.572266,18041476023,1775.718362,ETH

In [20]:
ada = ada_pred.assign(Name= 'ADA')
ada

,Date,Open,High,Low,Close,Adj Close,Volume,Prediction,Name
0,2017-11-09,0.025160,0.035060,0.025006,0.032053,0.032053,18716200,0.119609,ADA
1,2017-11-10,0.032219,0.033348,0.026451,0.027119,0.027119,6766780,0.110281,ADA
2,2017-11-11,0.026891,0.029659,0.025684,0.027437,0.027437,5532220,0.121383,ADA
3,2017-11-12,0.027480,0.027952,0.022591,0.023977,0.023977,7280250,0.133891,ADA
4,2017-11-13,0.024364,0.026300,0.023495,0.025808,0.025808,4419440,0.134281,ADA
...,...,...,...,...,...,...,...,...,...
1668,2022-06-04,0.559957,0.570570,0.548088,0.566069,0.566069,559861766,0.565415,ADA
1669,2022-06-05,0.566091,0.579553,0.556398,0.567090,0.567090,478128224,0.566340,ADA
1670,2022-06-06,0.567207,0.643452,0.566608,0.609328,0.609328,1417826128,0.604625,ADA
1671,2022-06-07,0.609340,0.641993,0.574847,0.615445,0.615445,1450579665,0.610170,ADA
1672,2022-06-08,0.615485,0.666099,0.610954,0.641614,0.641614,1636846100,0.633889,ADA

In [11]:
ada_pred

,Date,Open,High,Low,Close,Adj Close,Volume,Prediction
0,2017-11-09,0.025160,0.035060,0.025006,0.032053,0.032053,18716200,0.119609
1,2017-11-10,0.032219,0.033348,0.026451,0.027119,0.027119,6766780,0.110281
2,2017-11-11,0.026891,0.029659,0.025684,0.027437,0.027437,5532220,0.121383
3,2017-11-12,0.027480,0.027952,0.022591,0.023977,0.023977,7280250,0.133891
4,2017-11-13,0.024364,0.026300,0.023495,0.025808,0.025808,4419440,0.134281
...,...,...,...,...,...,...,...,...
1668,2022-06-04,0.559957,0.570570,0.548088,0.566069,0.566069,559861766,0.565415
1669,2022-06-05,0.566091,0.579553,0.556398,0.567090,0.567090,478128224,0.566340
1670,2022-06-06,0.567207,0.643452,0.566608,0.609328,0.609328,1417826128,0.604625
1671,2022-06-07,0.609340,0.641993,0.574847,0.615445,0.615445,1450579665,0.610170
1672,2022-06-08,0.615485,0.666099,0.610954,0.641614,0.641614,1636846100,0.633889

In [21]:
dgc = dgc_pred.assign(Name= 'DGC')
dgc

,Date,Open,High,Low,Close,Adj Close,Volume,Prediction,Name
0,2017-11-09,0.001207,0.001415,0.001181,0.001415,0.001415,6259550,0.002617,DGC
1,2017-11-10,0.001421,0.001431,0.001125,0.001163,0.001163,4246520,0.002547,DGC
2,2017-11-11,0.001146,0.001257,0.001141,0.001201,0.001201,2231080,0.002798,DGC
3,2017-11-12,0.001189,0.001210,0.001002,0.001038,0.001038,3288960,0.003304,DGC
4,2017-11-13,0.001046,0.001212,0.001019,0.001211,0.001211,2481270,0.003461,DGC
...,...,...,...,...,...,...,...,...,...
1668,2022-06-04,0.080454,0.082337,0.079727,0.081777,0.081777,350329772,0.079213,DGC
1669,2022-06-05,0.081776,0.082138,0.080836,0.081229,0.081229,282624184,0.078762,DGC
1670,2022-06-06,0.081225,0.084559,0.081126,0.082530,0.082530,503707292,0.079833,DGC
1671,2022-06-07,0.082530,0.082530,0.078332,0.080513,0.080513,509642725,0.078172,DGC
1672,2022-06-08,0.080492,0.081420,0.079156,0.079439,0.079439,328046389,0.077287,DGC

In [12]:
dgc_pred

,Date,Open,High,Low,Close,Adj Close,Volume,Prediction
0,2017-11-09,0.001207,0.001415,0.001181,0.001415,0.001415,6259550,0.002617
1,2017-11-10,0.001421,0.001431,0.001125,0.001163,0.001163,4246520,0.002547
2,2017-11-11,0.001146,0.001257,0.001141,0.001201,0.001201,2231080,0.002798
3,2017-11-12,0.001189,0.001210,0.001002,0.001038,0.001038,3288960,0.003304
4,2017-11-13,0.001046,0.001212,0.001019,0.001211,0.001211,2481270,0.003461
...,...,...,...,...,...,...,...,...
1668,2022-06-04,0.080454,0.082337,0.079727,0.081777,0.081777,350329772,0.079213
1669,2022-06-05,0.081776,0.082138,0.080836,0.081229,0.081229,282624184,0.078762
1670,2022-06-06,0.081225,0.084559,0.081126,0.082530,0.082530,503707292,0.079833
1671,2022-06-07,0.082530,0.082530,0.078332,0.080513,0.080513,509642725,0.078172
1672,2022-06-08,0.080492,0.081420,0.079156,0.079439,0.079439,328046389,0.077287

In [23]:
all_predictions = pd.concat([btc, eth, ada, dgc]).reset_index()
all_predictions

,index,Date,Open,High,Low,Close,Adj Close,Volume,Prediction,Name
0,0,2017-01-01,963.658020,1003.080017,958.698975,998.325012,998.325012,147775008,970.403015,BTC
1,1,2017-01-02,998.617004,1031.390015,996.702026,1021.750000,1021.750000,222184992,989.023010,BTC
2,2,2017-01-03,1021.599976,1044.079956,1021.599976,1043.839966,1043.839966,185168000,1011.799988,BTC
3,3,2017-01-04,1044.400024,1159.420044,1044.400024,1154.729980,1154.729980,344945984,1029.910034,BTC
4,4,2017-01-05,1156.729980,1191.099976,910.416992,1013.380005,1013.380005,510199008,1042.900024,BTC
...,...,...,...,...,...,...,...,...,...,...
6999,1668,2022-06-04,0.080454,0.082337,0.079727,0.081777,0.081777,350329772,0.079213,DGC
7000,1669,2022-06-05,0.081776,0.082138,0.080836,0.081229,0.081229,282624184,0.078762,DGC
7001,1670,2022-06-06,0.081225,0.084559,0.081126,0.082530,0.082530,503707292,0.079833,DGC
7002,1671,2022-06-07,0.082530,0.082530,0.078332,0.080513,0.080513,509642725,0.078172,DGC
7003,1672,2022-06-08,0.080492,0.081420,0.079156,0.079439,0.079439,328046389,0.077287,DGC

In [24]:
all_predictions.to_csv('all_predictions.csv')